// =================================================================================================================
//                                              Les animations du sites ( keyframes, mixin, etc )
// =================================================================================================================

//-----> Gére l'opacité <-----

@mixin opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes translationX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

//-----> translation plus importante en X avec opacité <-----

@keyframes translation-X {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0px);
  }
  @include opa;
}

//-----> translation en Y avec opacité <-----

@keyframes fallDown {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(0px);
  }
  @include opa;
}

//-----> translation alternative en Y avec opacité <-----

@keyframes fallDown2 {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0px);
  }
  @include opa;
}

//-----> effet de zoom avec opacité <-----

@keyframes reveal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
  @include opa;
}

//-----> Animations des cercles de la partie skills <-----

@keyframes animHtml {
  100% {
    stroke-dashoffset: 80;
  }
}

@keyframes animWp {
  100% {
    stroke-dashoffset: 100;
  }
}

@keyframes animCss {
  100% {
    stroke-dashoffset: 140;
  }
}

@keyframes animSql {
  100% {
    stroke-dashoffset: 270;
  }
}

@keyframes animJs {
  100% {
    stroke-dashoffset: 220;
  }
}

@keyframes animPhp {
  100% {
    stroke-dashoffset: 242;
  }
}
