// =================================================================================================================
//                                              CSS global
// =================================================================================================================

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

@import "fonts";

@import "animations";

@import "homePage";

@import "header-footer";

@import "singleSite";

:root {
  --primary-color: rgb(206, 16, 16);
  --secondary-color: rgb(19, 18, 18);
  --tertiary-color: rgb(255, 0, 0);
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--primary-color);
}

/* Firefox Scrollbar */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) rgba(206, 16, 16, 0.26);
}

body {
  position: relative;
  background-color: black;
}

.hiddenNow {
  display: none;
}
